:host {
  display: flex;
  flex-direction: column;
  gap: 8px;

  min-width: 300px;
  overflow-x: auto;
}

table {
  th {
    background-color: #E9ECEF;
  }

  th,
  td {
    text-wrap: nowrap;
    color: #334155;
  }
}

.text-end {
  text-align: end;
}

.name-with-avator {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
