<h3 class="g-h5">
  總統得票數
  <ng-container *ngIf="county">
    / {{county['行政區別']}}
  </ng-container>
</h3>

<div class="widget-container" [class.mobile]="isMobile">

  <!-- 左半邊 -->
  <div class="widget">
    <div *ngIf="county" class="container-1">
      <div *ngFor="let item of county['候選人資料列表']">
        <div class="container-1-1">
          <img [src]="PARTY_AVATOR_LIST.get(item['黨籍'])" width="48" height="48" [style.borderRadius.px]="16">

          <div class="content-box-1">
            <span class="party" [style.backgroundColor]="PARTY_COLOR_LIST.get(item['黨籍'])">
              {{item['黨籍']}}
            </span>

            <span class="candidate">{{item['候選人組合'][0]}} /
              <span>{{item['候選人組合'][1]}}</span>
              <mat-icon *ngIf="county['當選政黨'] === item['黨籍']" svgIcon="check_circle"></mat-icon>

            </span>

            <span class="count">
              {{item['票數'] | number }} 票
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 右半邊 -->
  <div class="widget">
    <div *ngIf="county" class="container-2" [class.mobile]="isMobile">
      <div echarts class="chart" [options]="basicPieOptions" [initOpts]="{ renderer: 'svg' }" [loading]="isLoading"
        (chartInit)="onChartInit($event)" [class.mobile]="isMobile"></div>
      <div class="container-2-2">
        <div class="content-box-2">
          <span class="label">{{'投票率'}}</span>
          <span class="value">{{ county['投票率'] | number: '.2-2' }}%</span>
        </div>

        <div *ngFor="let label of ['投票數', '有效票數','無效票數']" class="content-box-2">
          <span class="label">{{label}}</span>
          <span class="value">{{ $any(county)[label] | number }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
