/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Mantou Sans';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MantouSans-Regular.woff2') format('woff2');
}

body {
  min-width: 375px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
