<div class="fixed">
  <div class="navbar" [class.mobile]="isMobile">
    <img src="assets/images/logo.svg" alt="Logo" [width]="isMobile ? 36 : 52">

    <h1 class="title-text" [class.mobile]="isMobile">台灣歷年總統 都幾?</h1>

    <span *ngIf="isMobile" style="flex: auto"></span>

    <span *ngIf="!isMobile" class="g-h6 select-year-label">選擇年份</span>

    <div class="select-wrapper" [class.mobile]="isMobile" (click)="onSelectWrapperClick(yearSelect)">
      <mat-select #yearSelect [(ngModel)]="selectedYear" [hideSingleSelectionIndicator]="isMobile"
      (ngModelChange)="onSelectedYearChange($event)">
        <mat-option *ngFor="let year of yearList" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </div>

    <span *ngIf="!isMobile" style="flex: auto"></span>

    <app-share-toolbox *ngIf="!isMobile"></app-share-toolbox>
  </div>
</div>

<div class="map-container" [class.mobile]="isMobile">
  <app-map-chart [counties]="counties" [year]="selectedYear"></app-map-chart>
</div>

<div class="main-container" [class.mobile]="isMobile">
  <h2 class="sub-title">全臺縣市總統得票</h2>

  <app-current-data-chart [county]="counties && counties[0]"></app-current-data-chart>

  <app-history-data-chart></app-history-data-chart>

  <app-area-data-table [counties]="counties"></app-area-data-table>
</div>
