$navbarHeight: 66px;
$mapWidth: 500px;
$minScreenWidth: 375px;

:host {
  display: block;
  min-width: $minScreenWidth;
}

:host mat-form-field ::ng-deep {
  .mat-mdc-text-field-wrapper {
    height: 40px;
  }

  .mat-mdc-form-field-infix {
    padding: 8px 0;
  }

  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

.title-area {
  display: flex;
  gap: 8px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding: 0 12px;
  height: $navbarHeight;
  min-width: $minScreenWidth;

  background-color: #fff;
  border-bottom: #DEE2E6 1px solid;

  &.mobile {
    padding: 0 8px;
    height: 45px;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.select-year-label {
  margin-left: 24px;
  margin-right: 12px;
}

.share-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  margin-right: 8px;
}

.select-wrapper {
  height: 40px;
  border-radius: 500px;

  &.year {
    width: 120px;
  }

  &.county {
    width: 200px;
    margin-left: 8px;
  }

  background-color: #E9ECEF;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  &.mobile {
    height: 27px;

    &.year {
      width: 90px;
    }

    &.county {
      width: 100%;
    }
  }

  mat-select {
    width: calc(100% - 24px);
  }
}

.map-container {
  position: fixed;
  left: 0;
  top: $navbarHeight;
  bottom: 0;

  width: $mapWidth;
  background-color: #E4FAFF;

  &.mobile {
    position: relative;
    width: 100%;
    height: 500px;
  }
}

.main-container {
  margin-top: $navbarHeight;
  margin-left: $mapWidth;

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 32px 32px;

  &.mobile {
    margin-top: $navbarHeight;
    margin-left: 0;
    padding: 32px 24px;

    display: flex;
    flex-direction: column;
  }

  .sub-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;

    margin: 0;
  }
}
