<div class="fixed">
  <div class="navbar" [class.mobile]="isMobile">
    <div class="title-area" (click)="backToStartPage()">
      <img src="assets/images/logo.svg" alt="logo" [width]="isMobile ? 36 : 52">
      <img src="assets/images/title.svg" alt="title" [width]="isMobile ? 180 : 255">
    </div>

    <span *ngIf="isMobile" style="flex: auto"></span>

    <span *ngIf="!isMobile" class="g-h6 select-year-label">選擇年份</span>

    <div class="select-wrapper year" [class.mobile]="isMobile">
      <mat-select [(ngModel)]="selectedYear" [hideSingleSelectionIndicator]="true"
        (ngModelChange)="onSelectedYearChange($event)">
        <mat-option *ngFor="let year of yearList" [value]="year">
          {{year}}
        </mat-option>
      </mat-select>
    </div>

    <ng-container *ngIf="!isMobile">
      <ng-container *ngTemplateOutlet="countyAndTown"></ng-container>

      <span style="flex: auto"></span>

      <app-share-toolbox></app-share-toolbox>
    </ng-container>
  </div>

  <div *ngIf="isMobile" class="navbar mobile">
    <ng-container *ngTemplateOutlet="countyAndTown"></ng-container>
  </div>

  <ng-template #countyAndTown>
    <div class="select-wrapper county-and-town" [class.mobile]="isMobile">
      <mat-select [(ngModel)]="selectedCounty" [hideSingleSelectionIndicator]="true"
        (ngModelChange)="onSelectedCountyChange($event)">
        <mat-option *ngFor="let county of counties" [value]="county">
          {{county['行政區別']}}
        </mat-option>
      </mat-select>

      <mat-divider [vertical]="true" [inset]="true" class="divider"></mat-divider>

      <mat-select [(ngModel)]="selectedTown" [hideSingleSelectionIndicator]="true"
        [placeholder]="(selectedCounty && selectedCounty['行政區別'] !== '全部') ? '全部' : '-'"
        (ngModelChange)="onSelectedTownChange($event)">
        <mat-option *ngFor="let town of selectedCountyTowns" [value]="town">
          {{town['鄉(鎮、市、區)別']}}
        </mat-option>
      </mat-select>
    </div>
  </ng-template>
</div>

<div class="map-container" [class.mobile]="isMobile">
  <app-map-chart [towns]="selectedCountyTowns" [counties]="counties" [selectedCounty]="selectedCounty"
    [year]="selectedYear" (countyClick)="onMapCountyClick($event)"></app-map-chart>
</div>

<div class="main-container" [class.mobile]="isMobile">
  <h2 class="sub-title">全臺縣市總統得票</h2>

  <app-current-data-chart [townOrCounty]="selectedTown ?? selectedCounty"></app-current-data-chart>

  <app-history-data-chart></app-history-data-chart>

  <app-area-data-table [counties]="counties" [selectedCountyTowns]="selectedCountyTowns"></app-area-data-table>
</div>
