:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 96px;

  box-sizing: border-box;
  height: 100vh;
  min-width: 375px;
  min-height: max(100vh, 667px);

  &.mobile {
    padding-top: 48px;
  }

  .title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.hint-label {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  color: #D4009B;
}

.chip-text {
  display: block;
  width: 170px;
  height: 48px;
  text-align: center;
  cursor: pointer;
}

.year-chip-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;

  &.mobile {
    grid-template-columns: repeat(2, 1fr);
  }

  .year-chip {
    width: 170px;
    border-radius: 500px;
    padding: 12px 0;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;

    text-align: center;
    background-color: #E9ECEF;
    transition: background-color 0.2s ease;

    &.disabled {
      color: gray;
      background-color: lighten(#E9ECEF, 2%);
    }

    &:not(.disabled):hover {
      cursor: pointer;
      background-color: lighten(#D4009B, 30%);
      transition: background-color 0.3s ease;
    }
  }
}

.bottom-area {
  width: 100vw;
  min-width: 350px;
  overflow: hidden;

  display: flex;
  justify-content: space-around;

  img {
    width: 280px;
    height: 280px;
    margin-bottom: -20px;

    &.mobile {
      width: 100px;
      height: 100px;
      margin-bottom: -10px;
    }
  }
}
