<div class="title-area">
  <img src="assets/images/logo.svg" alt="logo" width="138">
  <img src="assets/images/title.svg" alt="title" [width]="isMobile ? 300 : 525">
</div>

<span class="hint-label">選擇查詢年份</span>

<div class="year-chip-container" [class.mobile]="isMobile">
  <div *ngFor="let year of yearDisabledList" class="year-chip disabled" matTooltip="暫無資料" [matTooltipShowDelay]="200"
    [matTooltipPosition]="'above'">{{year}}</div>
  <div *ngFor="let year of yearList" matRipple class="year-chip"
     (click)="onYearChipClick(year)">{{year}}</div>
</div>
